[submodule "external/dynamic-colors"]
	path = external/dynamic-colors
	url = git@github.com:sos4nt/dynamic-colors.git
[submodule "external/dircolors-solarized"]
	path = external/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "external/zsh-pure"]
	path = external/zsh-pure
	url = git@github.com:sindresorhus/pure.git
[submodule "zsh/custom/plugins/solarized-man"]
	path = zsh/custom/plugins/solarized-man
	url = git@github.com:zlsun/solarized-man.git
[submodule "zsh/custom/plugins/zsh-256color"]
	path = zsh/custom/plugins/zsh-256color
	url = git@github.com:chrissicool/zsh-256color.git
[submodule "external/nord-dircolors"]
	path = external/nord-dircolors
	url = git@github.com:arcticicestudio/nord-dircolors.git
[submodule "i3/scripts/weather-block"]
	path = i3/scripts/weather-block
	url = git@github.com:rkowalewski/weather-block.git
