[submodule "external/mintty-colors-solarized"]
	path = external/mintty-colors-solarized
	url = git@github.com:karlin/mintty-colors-solarized.git
[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-solarized8"]
	path = vim/.vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "external/dircolors-solarized"]
	path = external/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "vim/.vim/bundle/vim-airline"]
	path = vim/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline-themes"]
	path = vim/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/vim-clang-format"]
	path = vim/.vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/vim-gutentags"]
	path = vim/.vim/bundle/vim-gutentags
	url = git@github.com:ludovicchabant/vim-gutentags.git
[submodule "vim/.vim/bundle/vim-numbertoggle"]
	path = vim/.vim/bundle/vim-numbertoggle
	url = git@github.com:jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/.vim/bundle/vim-tmux-navigator"]
	path = vim/.vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "vim/.vim/bundle/vim-syntastic"]
	path = vim/.vim/bundle/vim-syntastic
	url = git@github.com:vim-syntastic/syntastic.git
